@charset "utf-8";

// Variables
@import "variables";

// Helpers
@import "helpers";

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}